# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Experiment results
outputs/
resdir_*/
nn/
threshold_*.png
threshold_*.csv
tests/
!tests/
tests/*
!tests/test_circuit_pymatching_threshold.py
!tests/test_hybrid_decoder.py
!tests/test_hybrid_trainer.py
!tests/test_weighted_matching_decoder.py

# IDEs
.idea/
.vscode/

*.sh
!run_0.sh
!run_1.sh
